.profile__btn-add {
  width: 22px;
  height: 22px;
  background-size: cover;
  background-image: url(../../../images/Add-btn.svg);
  background-color: transparent;
  border: none;
}



@media (max-width:320px) {
  .profile__btn-add {
    width: 16px;
    height: 16px;
  }
}