.popap-plus__input {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 13px 0;
  box-sizing: border-box;
  color: #000;
}


.popap-plus__input:first-child{
  margin-bottom: 30px;
}

.popap-plus__input::placeholder {
  color: #000;
}
